{% extends 'base.html' %}
{% block title %} TOP MELONS {% endblock %}
{% block content %}
  <body>
    <div><h1>Welcome, {{name}}!</h1></div>
    {%for melon in melon_dict%}
    <div class="melon-div">
      
      <h3>{{ melons_dict[0]['name'] }}</h3>
      <h2>Loved {{ melon_dict[0]['num_loves'] }} times.</h2>
      <img src="{{ melon_dict[0]['img'] }}" />
      
    </div>
    {%endfor%}
    <div>
      <form>
        <label>Love a melon</label>
        <select name="melon">
          <option value="melonid">name</option>
          <option value="melonid">name</option>
          <option value="melonid">name</option>
          <option value="melonid">name</option>
        </select>
        <input type="submit">
      </form>
    </div>
  </body>
</html>
{% endblock %}