{% extends 'base.html' %}
{% block title %} TOP MELONS {% endblock %}
{% block content %}
  
    <div><h1>Welcome, {{name}}!</h1></div>
    
    {%for melon in melon_dict%}
    <div class="melon-div">
      
      <h3>{{ melon_dict[melon]['name'] }}</h3>
      <h2>Loved {{ melon_dict[melon]['num_loves'] }} times.</h2>
      <img src="{{ melon_dict[melon]['img'] }}" />
      
    </div>
    {%endfor%}
    
    <div>
      <form method = "post", action = "/love-melon">
        <label>Love a melon</label>
        <select name="melon">
          {%for melon in melon_dict%}
          <option value="{{melon}}">{{ melon_dict[melon]['name'] }}</option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>
    </div>
  
{% endblock %}